@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-attachment: fixed;
    background-color: #000000;
    background-image: url(img/pexels-maxfrancis-2246476.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   
    
}

h1{
    text-align: center;
}

div.tela-login{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 20px;
    
}

input{
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border
    font-family: Arial, Helvetica, sans-serif;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align:center;
    padding-right: 100px;
    

}

p:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #000000;
}

label{
    padding: auto;
    padding: 13px
}

.btn{
    background-color: rgba(0, 0, 255, 0.705);
    color: white;

}

.btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
